<head>
    <title>Habitacion 4</title>
</head>
<h1 class="display-4">Habitacion 4</h1>
<p>Esta es la ultima habitacion. Para lograr escapar de la Casa de la Moneda con el dinero deberas resolver una serie de
    preguntas de la serie "La Casa de Papel". Cada una de estas respuestas contendrá un letra clave que te ayudará a
    resolver la palabra final para escapar de la policía.</p><br />
<p>1- ¿Cual es el nombre del profesor?
<form method="post" action='@Url.Action("hab4","Home")'>
    <input type="hidden" name="pregunta" value="0">
    <div class="form-row">
        <div class="col-2">
            <input required type="text" class="form-control" name="incognita" placeholder="Respuesta" size="20"/>
        </div>
        <div class="col-2">
            <input class="btn btn-outline-light" type="submit" value="Comprobar">
        </div>
    </div>
</form>
@{
    if(ViewBag.estado0 == "¡CORRECTO!")
    {
        <p class="correcto">@ViewBag.Estado0</p>
    }
    else {
        <p class="incorrecto">@ViewBag.Estado0</p>
    } 
}
2- ¿Cual es el apellido del lider del CNI?
<p></p>
<form method="post" action='@Url.Action("hab4","Home")'>
    <input type="hidden" name="pregunta" value="1">
    <div class="form-row">
        <div class="col-2">
            <input required type="text" class="form-control" name="incognita" placeholder="Respuesta" size="20"/>
        </div>
        <div class="col-2">
            <input class="btn btn-outline-light" type="submit" value="Comprobar">
        </div>
    </div>
</form>
@{
    if(ViewBag.estado1 == "¡CORRECTO!")
    {
        <p class="correcto">@ViewBag.Estado1</p>
    }
    else {
        <p class="incorrecto">@ViewBag.Estado1</p>
    } 
}
3- ¿Cual es el apellido de Arturo?
<p></p>
<form method="post" action='@Url.Action("hab4","Home")'>
    <input type="hidden" name="pregunta" value="2">
    <div class="form-row">
        <div class="col-2">
            <input required type="text" class="form-control" name="incognita" placeholder="Respuesta" size="20"/>
        </div>
        <div class="col-2">
            <input class="btn btn-outline-light" type="submit" value="Comprobar">
        </div>
    </div>
</form>
@{
    if(ViewBag.estado2 == "¡CORRECTO!")
    {
        <p class="correcto">@ViewBag.Estado2</p>
    }
    else {
        <p class="incorrecto">@ViewBag.Estado2</p>
    } 
}
4- ¿Cual es el nombre de ciudad de Monica?
<p></p>
<form method="post" action='@Url.Action("hab4","Home")'>
    <input type="hidden" name="pregunta" value="3">
    <div class="form-row">
        <div class="col-2">
            <input required type="text" class="form-control" name="incognita" placeholder="Respuesta" size="20"/>
        </div>
        <div class="col-2">
            <input class="btn btn-outline-light" type="submit" value="Comprobar">
        </div>
    </div>
</form>
@{
    if(ViewBag.estado3 == "¡CORRECTO!")
    {
        <p class="correcto">@ViewBag.Estado3</p>
    }
    else {
        <p class="incorrecto">@ViewBag.Estado3</p>
    } 
}
5- ¿Que quieren robar en el atraco al banco de españa?
<p></p>
<form method="post" action='@Url.Action("hab4","Home")'>
    <input type="hidden" name="pregunta" value="4">
    <div class="form-row">
        <div class="col-2">
            <input required type="text" class="form-control" name="incognita" placeholder="Respuesta" size="20"/>
        </div>
        <div class="col-2">
            <input class="btn btn-outline-light" type="submit" value="Comprobar">
        </div>
    </div>
</form>
@{
    if(ViewBag.estado4 == "¡CORRECTO!")
    {
        <p class="correcto">@ViewBag.Estado4</p>
    }
    else {
        <p class="incorrecto">@ViewBag.Estado4</p>
    } 
}
6- Verdadero o Falso. El atraco a la Casa de la Moneda duro 15 dias.
<p></p>
<form method="post" action='@Url.Action("hab4","Home")'>
    <input type="hidden" name="pregunta" value="5">
    <div class="form-row">
        <div class="col-2">
            <input required type="text" class="form-control" name="incognita" placeholder="Respuesta" size="20"/>
        </div>
        <div class="col-2">
            <input class="btn btn-outline-light" type="submit" value="Comprobar">
        </div>
    </div>
</form>
@{
    if(ViewBag.estado5 == "¡CORRECTO!")
    {
        <p class="correcto">@ViewBag.Estado5</p>
    }
    else {
        <p class="incorrecto">@ViewBag.Estado5</p>
    } 
}
<p>CLAVE:</p>
<form method="post" action='@Url.Action("Habitacion","Home")'>
    <input type="hidden" name="sala" value="4" />
    <div class="form-row">
        <div class="col-2">
            <input required type="text" class="form-control" name="incognita" placeholder="Clave" size="20"/>
        </div>
        <div class="col-2">
            <input class="btn btn-outline-light" type="submit" value="Comprobar">
        </div>
    </div>
</form>
<p></p>
<button class="btn btn-primary" onclick="alert('Ordena las letras de una manera coherente')"> Pista 1 </button>
<button class="btn btn-primary" onclick="alert('Las letras clave pueden repetirse')"> Pista 2 </button>
<p class="incorrecto">@ViewBag.Error</p>